PORT=3001
MONGO_CONNECTION="mongodb://root:MongoDB2019!@localhost:27017/?authSource=admin&readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false"
DATABASE_NAME="hubees"
AUTH_API_HOST="http://localhost:3003/"
USERS_API_HOST="http://localhost:3002/"
STAYS_API_HOST="http://localhost:3004/"